/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .header-section {
  margin: 0 auto;
} */
/* 
.header-section .navbar {
  padding: 50px 0;
} */

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.header-section .navbar .nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.header-section .navbar .nav-menu {
  /* position: relative; */

  display: flex;
  gap: 40px;
  list-style-type: none;
}

.header-section .navbar .logo {
  width: 170px;
}

.header-section .navbar .nav-menu .nav-item a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  font-size: 18px;
  /* new */
  position: relative;
  display: inline-block;
  padding: 50px 0;
}

/* .header-section .navbar .nav-menu a:hover::before {
  content: "";
  position: absolute;
  bottom: -45px;
  width: 100%;
  border-bottom: 4px solid hsl(26, 100%, 55%);
  color: hsl(0, 0%, 0%);
  transition: 0.3s ease;
}  */

.nav-wrapper .nav-menu .nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: hsl(26, 100%, 55%);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-wrapper .nav-menu .nav-item a:hover::after {
  transform: scaleX(1);
}

.nav-wrapper .nav-menu .nav-item a:hover {
  color: hsl(0, 0%, 0%);
}

.header-section .navbar .user-actions {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-section .navbar .user-actions .user-cart-btn {
  border: none;
  background: none;
}

.header-section .navbar .user-actions .user-cart-btn img {
  width: 25px;
}

.header-section .navbar .user-actions .user-avatar-btn {
  border: none;
  background: none;
}

.header-section .navbar .user-actions .user-avatar-btn img {
  width: 60px;
}

.product-section {
  margin-top: 150px;
}
